<html>
	<head>
		<title>domedia vis|wall</title>
		
		<link rel="stylesheet" type="text/css" href="./styles/viswall.css">
		
		<style type="text/css">
		#border
		{
			border-left-width:1;
			border-left-style:solid;
			border-left-color:#F15113;
			padding-left:0;
			border-right-width:1;
			border-right-style:solid;
			border-right-color:#F15113;
			padding-right:0;
			border-top-width:1;
			border-top-style:solid;
			border-top-color:#F15113;
			padding-top:0;
			border-bottom-width:1;
			border-bottom-style:solid;
			border-bottom-color:#F15113;
			padding-bottom:0;
			text-align:;
		}
		</style>

	</head>

	<BODY bgcolor="#E2E2E2" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0" style="background-image:url(images/logon_bg_994.gif); background-repeat:no-repeat;" onload='javascript:document.auth_login.auth_user.focus()'>
		<table cellspacing="0" cellpadding="0" border="0" width="" height="">
			<tr>
				<td valign="top" align="left" width="397" height="280" bgcolor="">&nbsp;</td>
				<td valign="top" align="left" width="190" height="280" bgcolor="">&nbsp;</td>
			</tr>
			<tr>
				<td valign="top" align="right" width="397" height="80" bgcolor="">
					<IMG SRC="images/logon_pfeil_blink1.gif" WIDTH="26" HEIGHT="80" BORDER="0" onClick=""></td>
				<td valign="middle" align="middle" width="190" height="80" bgcolor="" id="border">
					<table cellspacing="0" cellpadding="0" border="0" width="190" height="70">
						<tr>
							<td valign="top" align="left" width="10" height="85" bgcolor="">&nbsp;</td>
							
							<FORM name="auth_login" action="index2.php?navigation=1" method=post>
								<td valign="top" align="left" width="120" height="85" bgcolor="">
									<IMG SRC="images/tpx.gif" WIDTH="120" HEIGHT="10" BORDER="0"><BR>
									<IMG SRC="images/logon_username.gif" WIDTH="54" HEIGHT="5" BORDER="0"><BR>
									<IMG SRC="images/tpx.gif" WIDTH="120" HEIGHT="3" BORDER="0"><BR>
									<INPUT class=logonform name=auth_user size="20"><BR>
									<IMG SRC="images/tpx.gif" WIDTH="120" HEIGHT="8" BORDER="0"><BR>
									<IMG SRC="images/logon_password.gif" WIDTH="57" HEIGHT="5" BORDER="0"><BR>
									<IMG SRC="images/tpx.gif" WIDTH="120" HEIGHT="3" BORDER="0"><BR>
									<INPUT class=logonform type=hidden name=auth_hidden>
									<INPUT class=logonform type=password name=auth_password size="20"><BR></td>
								<td valign="middle" align="right" width="50" height="85" bgcolor="">
									<a href="javascript:document.auth_login.submit()"><IMG SRC="images/logon_ok.gif" WIDTH="27" HEIGHT="20" BORDER="0"></a></td>
							</form>
							<td valign="top" align="left" width="10" height="85" bgcolor="">&nbsp;</td>
						</tr>
					</table>
				</td>
			<tr>
		</table>
	</BODY>
</HTML>