<html>

<head>
<title>DansGuardian - Zugriff verweigert</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"></head>

<body bgcolor=#000000><center>
<table border=0 cellspacing=0 cellpadding=2 height=540 width=700>
  <tr> 
    <td bgcolor=#3e4746 height=100 align=center><img src="http://%ip_adress/images/viswall-backgroundless2.gif" 
width="252" height="64"></td>
    <td width="406" height=100 align=center bgcolor=#3e4746><font color="#999999" size=6 face=arial,helvetica> 
      <b>Zugriff wurde verweigert!</b> </font></td>
    <td width="82" align=center bgcolor=#3E4746><img src="http://%ip_adress/images/tpx.gif" width="94" 
height="23"></td>
  </tr>
  <tr bgcolor="#E2E3DF"> 
    <td height=30 colspan=3 align=right> <font face=arial,helvetica size=3 color=black> 
      <b>-USER-&nbsp;</b> </td>
  </tr>
  <tr> 
    <td align=center valign=bottom width=200 bgcolor=#E2E3DF> <font face=arial,helvetica size=1 color=black>
      <p><img src="http://%ip_adress/images/npz3.gif" width="120" height="59"> </p>
      <p>Nationalpark Kalkalpen</p>
      </td>
    <td colspan="2" align=center valign=center bgcolor=#FFFFFF> <font face=arial,helvetica color=black> <font size=4> 
      Access to the page: <br> <br> <a href="-URL-" target="_blank">-URL-</a> 
      <br> <br> <font size=3> ... wurde verweigert mit folgender Begr&uuml;ndung: <br> 
      <br> <font color=red> <b>-REASONGIVEN-</b> <font color=black> <br> <br> 
      <br> <br>
      Sie sehen diese Fehlermeldung, da die Seite, auf die Sie zugreifen wollten, <br>
      Inhalte enth&auml;lt (oder als solche gekennzeichnete), die als unangebracht erachtet werden.
      <br> <br>
      Wenn Sie fragen haben, wenden Sie sich bitte an ihren Netzwerkadministrator.
      <br> <br> <br> <br> <font size=1> Powered by <a href="http://www.dansguardian.org" target="_blank">DansGuardian</a> 
    </td>
  </tr>
</table>

</body>

</html>

<!--
The available variables are as follows:
- URL- gives the URL the user was trying to get to.
- REASONGIVEN- gives the nice reason (i.e. not quoting the banned phrase).
- REASONLOGGED- gives the reason that gets logged including full details.
- USER- gives the username if known.
- IP- gives the originating IP.
- FILTERGROUP- gives the group number.
- BYPASS- gives URL which allows temporary bypass of denied page

You need to remove the space between the - and the variable to use them
in your HTML.  They are there above so extra processing is not required.

More example templates are likely to be found on the DansGuardian web site
on the Extras page.

This page was designed by Paul Richards.  (http://www.ridney.com/)

Daniel Barron 2003-09-01
--!>

